[2018-04-08 07:01] andyscott opened #14 "Directly test IntelliJ aspects"
The IntelliJ aspects are available at https://github.com/bazelbuild/intellij/tree/master/aspect. We can add a test that leverages them via an external repo. This should allow us to verify the aspect output. If we verify that a known output results in proper experience in IntelliJ then we have a stronger guarantee of IntelliJ support as this code evolves.

[2018-04-08 07:08] andyscott opened #15 "Add toolchain to provide default options"
options to provide:
- scala versions
- scalac options
- scalac plugins
- jvm options
- potentially: worker target label -- currently it's hard coded to the one in `//runner`

[2018-04-13 07:57] pauldraper opened #34 "Fails with Bazel 0.12.0"
https://travis-ci.org/andyscott/rules_scala_annex/builds/365985576

I spent a little bit of time but was unable to track this down. Not sure if our problem or theirs.

[2018-04-14 20:51] pauldraper commented on #34
Will be fixed by #36

[2018-04-14 23:02] #34 closed

[2018-04-14 23:02] andyscott commented on #34
done!

[2018-09-04 16:02] pauldraper opened #88 "Support neverlink"

[2018-09-04 20:30] pauldraper commented on #88
Fixed by #89

[2018-09-04 20:30] #88 closed

[2018-09-05 00:17] pauldraper opened #91 "Bloop"
There's some non-functioning file that've been earmarked as the point of a possible Bloop integration.

I'm personally not of an opinion that Bloop is right abstraction here as opposed in Zinc, but I'm not an expert and this is the skunkworks after all, right?

Anyway, what's the game plan? Do we need to keep Bloop stubs around, or can we clear out the clutter and put it back when something actual

[2018-09-06 14:30] pauldraper opened #93 "Fully document rules and attributes"
Could use Skydoc, though it's currently implemented in a really fragile way.

Some documentation on all rules and attributes is needed though

[2018-09-07 09:02] jvican commented on #91
I would prefer to keep them around and settle on a Bloop integration. Many of the points I illustrated in https://github.com/bazelbuild/rules_scala/issues/328#issuecomment-418922044 apply here.

@pauldraper @jjudd What about we jump on a call to discuss this topic and also find a more reliable way for you to cover your unused dependencies use case?

[2018-09-08 00:08] pauldraper commented on #91
I might have missed something, but I think rules_scala_annex currently has a very reliable way. (Would be interested in a contrary example, though.)

I'm fine with keeping Bloop "hooks" around for future possible development, though I don't have much interest in contributing myself to the Bloop integration.

[2018-09-08 14:31] pauldraper opened #98 "Implement scalafix rule"
https://scalacenter.github.io/scalafix/

Can perform refactorings like remove unused imports.

[2018-09-08 14:31] #91 closed

[2018-09-08 15:58] pauldraper opened #100 "License"
Bazel core is Apache 2.0

[2018-09-10 00:49] pauldraper opened #102 "Lessen stateful Zinc overhead"
Stateful incremental Zinc is disabled by default.

However, there still extra work being done just because it is an option. E.g. unpacking upstream JARs.

There should be a choice between two mode (probably toolchains).

(a) Stateless. Does not unpack JARs, etc.

(b) Stateful-optional. Does unpack JARs, etc. Can use prior state if the `--persistent_dir` flag is specified.

These two modes would pr

[2018-09-27 21:01] jjudd opened #116 "isolation = "process" doesn't include Predef"
Tried out the new isolation features for tests. Ran into the following error

[code]

My guess is isn't being included in the new process. Will need to investigate more to find more info.

[2018-09-27 21:03] pauldraper commented on #116
That's a classic Scala version error.

The runner is Scala 2.12, but the tests are Scala 2.11.

That should be correctly handled with classloaders; let me look.

[2018-09-28 00:47] jjudd commented on #100
+1 for Apache 2.0.

Anything preventing us from setting Apache 2 as the license?

[2018-09-28 02:08] pauldraper commented on #100
No.

[2018-09-28 02:08] pauldraper commented on #100
I don't think so. @andyscott ?

[2018-10-23 13:32] onzo-dave-hinton opened #120 "I can't get scalafmt to work through rules_scala_annex"
I attempted to follow the instructions in the README for running scalafmt.

On my first attempt I got these errors:

    ERROR: /Users/dave.hinton/vc/bazel-scalafmt-playground/WORKSPACE:29:1: file '@rules_scala_annex//rules/scalafmt:workspace.bzl' does not contain symbol 'scalafmt_default'
    ERROR: /Users/dave.hinton/vc/bazel-scalafmt-playground/WORKSPACE:30:1: name 'scalafmt_default' is not def

[2018-10-24 00:34] jjudd commented on #120
Hi. Sorry that you ran into some trouble with this. Scalafmt is working internally for us at Lucid, so we'll take a look at see if we can figure out what is going on here.

[2018-10-24 00:39] jjudd commented on #100
Friendly ping here. We good with Apache 2?

[2018-10-24 01:05] andyscott commented on #100
Sounds good to me!

On Tue, Oct 23, 2018, 17:39 James Judd <notifications@github.com> wrote:

[2018-10-24 02:06] jjudd commented on #100
I think because we don't have a CLA or an existing license, we'll need all contributors to agree to adding the license, yeah? Thankfully we only have 5 contributors so far.

I'm not lawyer, but everyone agreeing in this GitHub issue thread seems to create a decent paper trail.

@pauldraper @andyscott @jjudd @borkaehw @jvican do you agree to license this project (rules_scala_annex) under the Apache

[2018-10-24 02:07] jjudd commented on #100
I agree to license this project (rules_scala_annex) and my contributions to it under the Apache license 2.0

[2018-10-24 15:54] borkaehw commented on #100
I agree to license this project (rules_scala_annex) and my contributions to it under the Apache license 2.0

[2018-10-24 19:06] JaredNeil commented on #120
First of all, thanks for the great report. The gist was very useful in identifying the problem.
Looks like along with `scalafmt_default_config` you also need to load and call `scalafmt_repositories` ([gist](https://gist.github.com/JaredNeil/c207bac9ce498b08094403db349aeb62/revisions)).
I've opened a PR to update the README: https://github.com/andyscott/rules_scala_annex/pull/121

[2018-10-25 03:17] jjudd opened #122 "Bazel 0.19 Support"
Annex warns on some things in 0.19. I'm working on fixing them, but using this issue to document the things I'm running into

```...depends on deprecated target '@local_jdk//:java': Don't depend on targets in the JDK workspace; use @bazel_tools//tools/jdk:current_java_runtime instead (see https://github.com/bazelbuild/bazel/issues/5594).```

[2018-10-25 06:02] jjudd commented on #120
The README has been updated -  #121 has been merged. @onzo-dave-hinton please let me know if that does not fix your issue and I'll reopen.

[2018-10-25 06:02] #120 closed

[2018-10-25 09:32] onzo-dave-hinton commented on #120
@jjudd Just to confirm, that fixes my issue — it now runs without errors :-)

One other note: it was surprising to me that my source file was not reformatted in place. In retrospect, given what little I know of Bazel's execution model, this makes sense, but it is different from what I am used to with SBT. Would it be worth adding a note to the README explaining where to find the reformatted source

[2018-10-25 15:58] JaredNeil commented on #120
Ah yes. Bazel does not let you update "source" files as part of a build. So we work around this using the test runner script. If you pass the path of the workspace root as the first parameter to the test runner script it will copy the files instead of doing a diff.

`bazel run :format-format .` or `bazel-bin/format-format .` should work.

This is definitely something that should be added to the RE

[2018-10-26 09:04] onzo-dave-hinton commented on #120
The test runner script isn't working for me :-(

I've pushed another commit to the gist, and full details in the commit message, but briefly:

- `bazel run :format-format .` runs without error, but does not reformat my source files in place
- the `manifest.txt` file that the script reads from lacks expected path information: in `Hello.scala Hello.scala`, the second filename should refer to the for

[2018-10-26 09:04] pauldraper commented on #100
I agree to license this project (rules_scala_annex) and my contributions to it under the Apache license 2.0

[2018-10-26 15:32] jjudd commented on #122
Hah. I'm going to push hard to get the s3 pr merged because upgrading to HEAD every few months is less than ideal :D

[2018-10-26 15:43] pauldraper commented on #122
:)

HTTP basic auth with lamda@edge or API gateway authenticator....it could happen.

[2018-10-26 17:29] andyscott commented on #100
I agree to license this project (rules_scala_annex) and my contributions to it under the Apache license 2.0

[2018-10-27 00:23] pauldraper opened #125 "Fix tests/compat/ported_tests/test"
These tests started failing with Bazel 0.17.

See #123

[2018-10-27 16:19] #100 closed

[2018-10-27 16:48] pauldraper commented on #120
@onzo-dave-hinton yes go ahead and open another issue if it still does not work.

But,

1. I believe Jared is mistaken and `bazel run :format-format .` does not work, because the first argument needs to be the workspace root, and `bazel run` runs in the execroot. This is why the README had `bazel run :format "$(bazel info | grep workspace: | cut -d' ' -f2)"` (However, directly running `bazel-bin/f

[2018-10-27 20:37] pauldraper opened #127 "Directory structure"
Directory structure was refactored six months ago in #44, but I think there can be some improvements.

[code]

[code]

Advantages:

* No [gen-ignores.sh](https://github.com/andyscott/rules_scala_annex/blob/master/tools/gen-ignores.sh) hackery required
* Tests can test separate workspace setups.
* Tests become simple therefore a good form of examples
* Unrelated classpaths use separate Maven deps.

[2018-10-31 03:06] andyscott opened #130 "`--strategy=SingleJar=worker` errors"
In a new project, using `--strategy=SingleJar=worker` results in build failures:
[code]

It seems there's some flag incompatibilities that'll need to be documented.

[2018-10-31 05:06] pauldraper commented on #130
Odd. It appears that it intends to support workers.
https://github.com/bazelbuild/bazel/blob/master/src/java_tools/singlejar/java/com/google/devtools/build/singlejar/SingleJar.java

[2018-12-02 16:29] andyscott opened #147 "Clean annex related items from test stack traces"
We should prune annex items from stack traces.

Current formatted as diff of desired change:
[code]

[2018-12-08 21:27] andyscott opened #150 "Move and rename to higherkindness/rules_scala2"
It's time to move this outside of my personal account. I propose we move the repo to https://github.com/higherkindness/ and rename it to rules_scala2, where it can live indefinitely. Current maintainers will remain under the new org. I'd only propose we move it again if we move it to the bazelbuild org.

cc @jjudd @pauldraper current maintainers
cc @raulraja the other admin of the higherkindness o

[2018-12-08 21:44] pauldraper commented on #150
Moving to higherkindness is a good change.

I believe bazelbuild is the optimal home for Bazel projects seeking adoption, and that we should request that. Whether before or after, I don't care.

[2018-12-10 01:34] andyscott opened #151 "Host filesystem permissions leak into resource jars"
Building the same resource jar across two different hosts currently yields different results if the hosts apply different filesystem permissions after cloning the repo. Git itself only tracks executable flags for files.

[2018-12-10 03:50] #151 closed

[2018-12-10 04:30] andyscott opened #153 "Rule loading currently requires scalafmt repositories"
The rules currently fail to load without the following in `WORKSPACE`:
[code]

[2018-12-20 19:12] jjudd commented on #150
Agree with @pauldraper on this one. Asking the Bazel team about this seems worthwhile. Otherwise, I imagine we will always struggle with adoption.

[2019-01-05 04:52] andyscott commented on #150
Rename and move to the higherkindness org is complete. We can slowly refactor the code to remove the annex names as we update code.

[2019-01-05 04:52] #150 closed

[2019-03-22 18:48] jjudd opened #171 "rules_jvm_external"
https://github.com/bazelbuild/rules_jvm_external seems to be the rules the Bazel team is pushing for jvm third party libraries and maven support.

Do we want to investigate it, and if it meets our needs, replace our forked Bazel deps with it?

[2019-03-22 20:48] andyscott commented on #171
👍 from me.

[2019-03-22 22:10] stephenjudkins opened #173 "Scala compilation fails when it includes a Java source with an inner class depending on an third-party dependency"
Here's a failing test in a PR: https://github.com/higherkindness/rules_scala/pull/172

What appears to be going on: `ClassToApi` is using Java reflection to determine the structure of generated Java sources. [https://github.com/sbt/zinc/blob/develop/internal/zinc-apiinfo/src/main/scala/sbt/internal/inc/ClassToAPI.scala#L158]. However, this appears to cause the classloader to attempt to transitivel

[2019-03-23 02:24] andyscott commented on #173
Thanks for the report, and the PR for the failing case!

I'll take a look this weekend. This might be the kick I needed to implement the pure scalac (a per target option, compatible with zinc targets) worker since it probably won't suffer from the same problem.

[2019-03-24 06:59] jin commented on #171
Do Scala JARs need special handing around java_import? Some Kotlin JARs don't, which is what https://github.com/bazelbuild/rules_jvm_external/pull/69 is addressing.

[2019-03-24 20:51] pauldraper commented on #171
Scala JARs need special handling if and only if they have macros.

The `ScalaInfo` provider has a `macro` boolean attribute to indicate this. If there are macros, the Scala compiler is given the runtime classpath rather than the compiler classpath.

Any non-macro JARs need no special handling.

IIRC @jjudd, Lucid had a global whitelist of macro external dependencies, and iterates through list_depe

[2019-03-26 05:53] jin commented on #171
@pauldraper thanks for the explanation. In https://github.com/bazelbuild/rules_jvm_external/pull/69, all jars will not be imported by `java_import`, but a simple [Starlark `jvm_import.bzl` ](https://github.com/bazelbuild/rules_jvm_external/blob/dc69c2e1133a769fcf873ee57e0511c74b4fb46a/private/jvm_import.bzl) that places the imported jar into `JavaInfo.output_jar` and `JavaInfo.compile_jar`. There'

[2019-04-23 00:27] #171 closed

[2019-04-23 19:51] kjbass opened #178 "Scaladoc rule fails when including dependencies"
When using the `scaladoc` rule and including a `dep` tag I get the following error.  Stacktrace points to https://github.com/higherkindness/rules_scala/blob/cbfb7a14ad8e0c45f8eaa2f7508086c212d50b6f/rules/scala/private/doc.bzl#L27

Not sure if this is something to do with my environment, or a known problem with the scaladoc rule, but wanted to put this out here in case anyone else is running into a

[2019-04-24 00:30] SrodriguezO commented on #178
Thanks for spotting this @kjbass

I went ahead and opened a PR with a fix and updated the scaladoc test s.t. it tests using deps. It seems we meant to use JavaInfo's `transitive_deps` attribute.

Once the fix is merged you should be good to go. Let us know if you run into any other issues :)

[2019-04-24 04:57] pauldraper commented on #173
:/

Zinc was never made to use ijar, though javac works fine with ijra.
And ijar is supposed to basically be a canonicalized form of the interface, but still otherwise "correct".

So I'm not sure what to put the blame on :/

As a workaround, if you use `scala_import` or mark the library as a macro in `scala_library`, then it will not use the ijar for scalac.

[2019-04-24 12:40] kjbass commented on #178
That sounds great, thanks for the super quick turnaround time!  If I find anything else I'll be sure to let you all know.

[2019-04-24 16:02] #178 closed

[2019-04-24 18:29] SrodriguezO commented on #93
#177 gets us closer.

Further documentation on the Scala configuration rules (`configure_bootstrap_scala` and `configure_zinc_scala`), using JVM external, and test flags might be helpful.

[2019-05-17 18:28] #122 closed

[2019-06-12 20:25] SrodriguezO opened #187 "Pass select tags from target to generated actions as execution requirements"
The `tags` attribute lets us tell Bazel to treat certain actions specially; for example, the "no-remote" tag will inform Bazel that an action should not be run remotely even if it otherwise would.

Unfortunately, Bazel doesn't automatically propagate tags from a rule to the actions the rule generates. We need to explicitly do this propagation in our rule implementations.

See: https://github.com/b

[2019-06-12 20:29] SrodriguezO commented on #187
I'm happy to take this issue sometime this week.

[2019-06-13 00:43] SrodriguezO commented on #187
It appears that this will be taken care of upstream in the future: https://docs.google.com/document/d/1X2GtuuNT6UqYYOK5lJWQEdPjAgsbdB3nFjjmjso-XHo/edit?ts=5ca70ed0#

I'll still open a PR with a fix for `higherkindness/rules_scala` though. This way we'll get expected behavior sooner than later. For future consistency, I'll only propagate the labels specified in the design proposal linked above.

[2019-06-13 07:48] ishikhman commented on #187
@SrodriguezO I've just created PR yesterday ;) https://github.com/bazelbuild/bazel/pull/8612

[2019-06-13 16:40] SrodriguezO commented on #187
Ah woops, I totally missed that. Thanks @ishikhman! :)

I'll leave this issue open though; I imagine the fix to `bazelbuid/bazel` will go out in a future release? I'd prefer to not block the fix to `higherkindness/rules_scala` on upgrading Bazel.

[2019-06-13 17:33] luser opened #188 "Mention `scala_proto_register_toolchains` in docs"
Hi, thanks for this project! I was trying to get a simple example working with `scala_proto_library` and kept getting a `no matching toolchains` error from bazel. After reading the bazel docs on toolchains and this repository's `WORKSPACE` file I realized that I needed `scala_proto_register_toolchains` in my `WORKSPACE` and got things working. It would be great if the docs mentioned this!

[2019-06-13 18:17] SrodriguezO commented on #188
@luser sorry we missed this! I'm glad you figured it out though. I'll update the docs later today to clarify this.

[2019-06-13 20:02] luser opened #189 "`scala_proto_library` build doesn't fail if `protoc` errors"
I noticed this while trying to get a build working in my project, so I edited my test project to reproduce it in a smaller testcase:
https://github.com/luser/bazel-scala-proto-test/tree/protoc-failure

I edited `hello.proto` to add an import of a proto file that does not exist. Building the `:hello-proto` target directly errors:
[code]

But building `:scala-proto-test` (the `scala_proto_library` t

[2019-06-14 20:26] #187 closed

[2019-06-17 08:11] ishikhman commented on #187
Yes, it will be released somewhere in July.

[2019-06-18 21:15] Parth opened #191 "Trouble starting a project"
Trying to get off the ground with bazel, but having trouble with a [minimal example](http://github.com/parth/devbook): when I `bazel build :scalabook` for example I get the following error:

[code]

[2019-06-18 22:53] SrodriguezO commented on #191
Hey @Parth I'm having trouble reproducing this issue using the same version of `higherkindness/rules_scala` you're using in your `WORKSPACE` file. What version of bazel are you using?

[2019-06-18 22:55] Parth commented on #191
[code]

[2019-06-18 23:13] SrodriguezO commented on #191
Hmmm `higherkindness/rules_scala` doesn't support that version of Bazel, but I'd expect different errors if that were the cause. Let me test it real quick

[2019-06-18 23:21] SrodriguezO commented on #191
That was the issue.. Just reproduced it with Bazel 0.27. I expected a different error to be thrown, however (`"The requested Bazel version '$bazel_version' is not supported"`)

Currently, `higherkindness/rules_scala` officially supports Bazel versions `0.24.1` and `0.25.2`. I'll open a new issue to figure out why the build didn't fail sooner and with the correct error. Sorry about the confusion.

[2019-06-18 23:23] SrodriguezO opened #192 "Build does not fail with correct error when unsupported version of Bazel is used"
See discussion in #191

[2019-06-18 23:26] Parth commented on #191
No worries, got similar feedback [here](https://github.com/bazelbuild/rules_scala/issues/771), this is the rules set I'm interested in using so I'll grab `0.25`

[2019-06-18 23:29] #191 closed

[2019-06-18 23:31] SrodriguezO commented on #191
Sweet. Make sure you grab `0.25.2` :)

Hopefully we can get compatibility with newer versions in the near future. Let us know if you run into any other issues!

[2019-06-18 23:32] Parth commented on #191
Awesome, thanks again!

[2019-06-20 01:26] seanwentzel opened #193 "A library cannot access resources if they are defined on a dependent binary"
This isn't desired because we want to be able to define multiple binaries for different environments with different resources made available.

Example: https://gist.github.com/seanwentzel/a89f994578326ec80e53c6c33ad0e59d

[2019-06-20 22:20] borkaehw commented on #193
Thanks for providing the example. Sorry I don't quite understand what are we trying solve here. Do you mean `in_binary.txt` is not accessible by `Library.scala` because it's the resources of `scala_binary`?

[2019-06-21 00:11] seanwentzel commented on #193
Exactly. We'd like to be able to define a second binary that exposes a different `in_binary.txt`.

[2019-06-21 17:38] jjudd opened #194 "Bazel 0.27 support"
I'm going to tackle this next week. Adding this issue here for those who want to subscribe.

[2019-06-21 23:25] SrodriguezO commented on #193
Hey @seanwentzel,

If I understand correctly, you have some dependency B->L (B depends on L) and you'd like L to access a file supplied by B? If so, L would have a run-time dependency on B, which means this would create a circular dependency.

If your goal is to have different resources available in different environments, a better approach might be using a `select` statement for the `resources` a

[2019-06-21 23:27] SrodriguezO commented on #193
https://docs.bazel.build/versions/master/configurable-attributes.html

[2019-06-28 17:15] #194 closed

[2019-06-29 00:59] seanwentzel commented on #193
`select` is very cumbersome. For instance, if we want different resources to be available during tests, we need to explicitly set up a test Bazel platform to enable that, and the results of our tests become dependent on running them with that platform (to the best of my knowledge Bazel doesn't distinguish test builds like this already?). Effectively, we lose some degree of hermeticity in our test

[2019-07-10 21:01] SrodriguezO commented on #193
Hey @seanwentzel,

Sorry for the slow response, I was out of town last week.

I don't think this is necessary. I think you can simply specify a [config_setting](https://docs.bazel.build/versions/master/configurable-attributes.html#configuration-conditions) for each environment for which you need different resources and then use a command-line flag to specify the environment for which you want to b

[2019-07-13 07:17] SeaJaredCode commented on #193
We ran into this issue as well. The use case we have is fairly similar. For the purposes of local runs, we have config file resources that need to be available, but for deployments, configuration is side loaded as a volume at container init. Using two targets one with resources and one without is the easiest way to accomplish this.

I'm not sure I understand why resources specified in the binary w

[2019-07-23 22:20] borkaehw opened #200 "Better Zinc Log Format"
The Zinc output log is getting harder to read whenever we get a lot of messages, especially with long file path and long messages.
![Screenshot from 2019-07-23 16-15-32](https://user-images.githubusercontent.com/20475846/61751305-1f4db800-ad65-11e9-832d-48f1711ee8ac.png)

It would be good if we can come out with an idea of improving the readability. Adding distinction to the file path would be one

[2019-07-23 22:22] borkaehw commented on #200
@SrodriguezO @sriraamas @jjudd @andyscott What do you think?

[2019-07-23 22:33] SrodriguezO commented on #200
I like the idea of adding newlines between errors. I'm also open to making the file path bold, but the biggest gains in readability seem to be the newlines.

[2019-07-23 23:07] sriraamas commented on #200
a `colon(:)` after the line number can also make things a little better. Am not sure about underline, but I think the newline, does run the risk of not-so-compact output.

[2019-07-23 23:08] sriraamas commented on #200
May be it will make sense to also have `[Error] on the blank newline, so that it doesn't seem too chopped up.

[2019-07-23 23:50] SrodriguezO commented on #200
I thought underline would be a good idea too, but it makes the output look like a bunch of links

[2019-08-05 22:09] borkaehw opened #203 "Add tests for JUnitXmlReporter"
JUnitXmlReporter generates an XML file of test report. It would be good to test the behavior.

[2019-08-07 17:54] SrodriguezO opened #204 "Provide default compilers for various versions of Scala"
Users can currently use Scala 2.12 quite easily by adding
[code]
to their `WORKSPACE` file.

The rules would be more accessible if we provided similar default targets for other versions of Scala. Currently, users that need a different version of Scala must do all the configuration/set-up themselves.

[2019-08-11 14:33] kerinin opened #205 "`scala_proto_library` should respect `strip_import_prefix`"
Proto targets compiled with stripped prefixes are empty srcjars.

Minimal build file
[code]

Source proto:
[code]

Output:
[code]

The generated file (`bazel-bin/prefix/example_scala_proto.srcjar`) is empty.

[2019-08-12 16:38] jjudd commented on #205
Once we repro and fix adding a test for this would be awesome. Our proto test coverage at the moment is not great.

[2019-08-15 15:38] kerinin commented on #205
Sorry for the delay - that was using `91820a8fa746f776ae0fa11abc1a1372f3b993a1`

[2019-08-21 16:14] kerinin opened #207 "Feature Request: Command to automatically apply buildozer suggestions"
I love the deps errors and buildozer command suggestions - I would love being able to apply all of them automatically even more. I'm imagining something similar to how gazelle works for golang: `bazel run //:ensure_scala_deps` or something similar.

[2019-08-21 16:49] JaredNeil commented on #207
I'm not sure if this is exactly what you are looking for, but [`ibazel`](https://github.com/bazelbuild/bazel-watcher) has a way to [automatically run commands](https://github.com/bazelbuild/bazel-watcher#output-runner) based on the output of a build. The downside is you have to run `ibazel build` instead of `bazel build`. Sometimes you don't know you want the output runner until it's too late. So

[2019-08-24 21:25] bjchambers opened #208 "Rule for running onejar on plugins"
If you attempt to use a scalac plugin such as scapegoat or silencer, you'll get the following  warning from phase_classpaths:

[1] https://github.com/higherkindness/rules_scala/blob/master/rules/private/phases/phase_classpaths.bzl#L25

However, there is no available rule that makes it possible to "SingleJar" the target.

I wrote a quick rule that exposes the existing singlejar wrapper from `rules_

[2019-08-29 20:50] bjchambers opened #213 "ScalaPB worker crashing with `Stream closed` errors"
Sometimes when running (especially in CircleCI), the bazel bulid fails with errors like the following. Are there any known issues with the ScalaPB worker that could be causing this? Any fixes / more information that would be helpful to collect?

[code]

[2019-09-11 16:40] bjchambers opened #216 "scala_library doesn't support reference.conf"
See this draft PR for an example demonstrating the issue:
https://github.com/higherkindness/rules_scala/pull/215

[code]

Produces a JAR containing the manifest and a single file `reference.conf`.

[code]

Produces a JAR containing only the manifest.

It seems like the two libraries should both contain the `reference.conf` file.

[2019-09-11 18:52] SrodriguezO commented on #216
@bjchambers thanks for filing this issue and for including a test that catches it. This does seem like a bug. I'll see if we can get a fix in over the next couple days.

[2019-09-12 18:31] bjchambers opened #218 "scala_proto_library contains code for all dependencies"
I originally noticed this when debugging why I was getting unexpected "indirect dependency" problems.

If you have two proto libraries, such that one depends on the other (eg., A <- B), then the scala library jar for B will contain *all the code for the protos in A*. I suspect this is because the `proto_library` rule produces a (concatenated) descriptor describing both the `src` proto and any prot

[2019-09-13 23:57] bjchambers commented on #216
It looks like this is an issue with the C++ implementation of singlejar. If I'm reading this right:

[code]

If I look at
https://github.com/bazelbuild/bazel/blob/master/src/tools/singlejar/output_jar.cc#L933
I see this, which makes it look the resource is skipped if it is already present and warn_duplicate_resources is on:

[code]

Later in the same file, I see:

[code]

And in the main file
http

[2019-09-14 01:13] SrodriguezO commented on #216
Very interesting. Good find! I'm surprised that Bazel skips the resource altogether if `warn_duplicate_resources` is specified..

I think the solution here is, as you saw, to stop passing that flag. If you'd like to promote your draft PR to a regular PR I will gladly approve it :)

[2019-09-14 05:55] bjchambers commented on #216
Done -- Thanks!

[2019-09-22 22:37] KaoruDev opened #219 "Thrift / Scrooge Support?"
Are there plans to support compiling Thrift to Finagle services via Scrooge?

[2019-09-22 22:49] KaoruDev opened #220 "Question: Pinned Bazel Version"
Does this: https://github.com/higherkindness/rules_scala/blob/master/rules/scala/workspace.bzl#L44 mean we have to use `0.27.0`? Could we change it so users can pass in the version instead?

[2019-09-23 15:32] SrodriguezO commented on #220
@borkaehw do you know more about this?

[2019-09-23 16:05] SrodriguezO commented on #219
Not afaik. I'm not sure what this would entail, but if you'd like to provide a design doc we can explore it :)

However, our team is fully occupied with other work, so if the design is approved, someone outside Lucid would need to implement it (we welcome PRs :))

[2019-09-23 16:08] SrodriguezO commented on #219
[bazelbuild/rules_scala](https://github.com/bazelbuild/rules_scala) already supports this, so you could also try using that rule set if that works for your use-case

[2019-09-23 16:16] borkaehw commented on #220
It looks like it's not configurable at this moment. What is the use case that you will need to change it?

[2019-09-23 16:39] KaoruDev commented on #220
I'd like to use the latest Bazel version orthogonal to the version this library sets it to, currently the latest Bazel version is `0.28.0`

[2019-09-23 16:42] KaoruDev commented on #219
yeah, I currently am using bazelbuild/rules_scala but was interested in leverage `zinc` to decrease compile times. Alas, I couldn't get the two rule sets to work together, may have to revisit if compile times become a problem.

[2019-09-23 17:04] JaredNeil commented on #220
You may be confusing something because there is no difference in this file between [`0.27.0`](https://raw.githubusercontent.com/bazelbuild/bazel/0.27.0/src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt) and [`0.28.0`](https://raw.githubusercontent.com/bazelbuild/bazel/0.28.0/src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt). Ther

[2019-09-23 17:07] KaoruDev commented on #220
yeah, my original question was whether as a consumer of higherkindness/rules_scala, do we have to use the same version specified in this file (i.e. 0.27.0)? Or is it expected that things will work fine if the versions do no align? (Sorry still new to Bazel et al).

[2019-09-23 17:13] JaredNeil commented on #220
Ah yeah, the `0.27.0` here is just for this one script template. It theoretically could have a version incompatibility, but I haven't seen one yet, as it doesn't change very often.

[2019-09-23 17:16] KaoruDev commented on #220
Cool, so I guess my next question, without actually knowing how things work, would it be reasonable to make this configurable when the user calls `scala_repositories`?

The alternative might be maintaining a list of Bazel versions which work with specific higherkindness/rules_scala versions.

[2019-09-23 17:27] JaredNeil commented on #220
Yup, pretty simple. That's what https://github.com/higherkindness/rules_scala/pull/221 does.

[2019-09-23 17:32] jakemcc opened #222 "Passing arguments to test frameworks?"
I'm trying to run my scalatest tests and exclude tests marked as Slow from running. I'd usually do this by passing `-l org.scalatest.tags.Slow' as arguments to the scalatest.

Is there a way to do this? I've tried a few things that seemed promising but have haven't figured it out yet.

Some of the [documentation](https://github.com/higherkindness/rules_scala/blob/master/docs/newdocs/diff_rules_sca

[2019-09-23 18:41] SrodriguezO commented on #219
Supporting optional zinc compilation is in the roadmap for `bazelbuild/rules_scala`. I'm not sure how far out it is, but hopefully over the next couple months. Let us know if compile times become an issue before then; would be useful data

[2019-09-23 18:41] SrodriguezO commented on #219
Do you mind if I close this issue for now?

[2019-09-23 18:44] KaoruDev commented on #219
ah so is the understanding then that this ruleset won't be supported moving forward?

Could you do you me a favor and share a link to that roadmap? I couldn't find any evidence other than this 2018 issue: https://github.com/bazelbuild/rules_scala/issues/328 which ended with I believe this repo existing in first place =) I'd be excited to see a unified scala rule set!

[2019-09-23 18:50] SrodriguezO commented on #216
Closed by #215

[2019-09-23 18:50] #216 closed

[2019-09-23 19:02] SrodriguezO commented on #219
It was an offline discussion with the maintainers of `bazelbuild/rules_scala`. The goal is to re-unify the rules so people don't have to decide between one set or the other and to decrease duplicate work.

There is no road map document yet, but I can link it here once it's live.

I'm not 100% sure what'll happen `higherkindness/rules_scala` once the rules are unified, but we'll most likely provide

[2019-09-23 19:19] KaoruDev commented on #219
dope, I'm looking forward to it!

[2019-09-23 19:19] #219 closed

[2019-09-23 20:08] jakemcc commented on #222
I've kept digging and it seems like passing arguments is not implemented. Here is what I think is the [relevant line](https://github.com/higherkindness/rules_scala/blob/9d6eaa6befa43b7703118cdb6f6acc273192aa0c/src/main/scala/higherkindness/rules_scala/common/sbt-testing/Test.scala#L32)

[2019-09-23 20:29] SrodriguezO commented on #222
In https://github.com/higherkindness/rules_scala/blob/master/docs/scala.md#tests there's a note saying this isn't implemented yet. It seems like it should be a fairly straightforward PR. We would love your contribution : )

[2019-09-23 20:50] jakemcc commented on #222
Great, because I've started looking at it 😄 !

Before I get going too far in a direction, any thoughts on an approach?

It seems like I'll need to figure out how to get arguments to that bit of code (I've already tested locally that if I just hardcode some arguments for that first argument, it does what I want). That at least seems like it should be fairly straightforward but I'm always happy to r

[2019-09-23 22:35] SrodriguezO commented on #222
I suggest looking at how `TestHelper.withRunner` is called and then trying to pipe the additional options through to it somehow.

I believe you'll ultimately need to add an  `--options` or `--additional_options` argument to `TestRunner` (in `TestRunner.scala`) and then pipe these to `TestHelper.withRunner`

[2019-09-24 20:59] #220 closed

[2019-09-26 14:15] susliko opened #225 "User defined JVM arguments on the command line"
Is it possible to provide custom VM startup options of the  `scala_binary` targets while running `bazel run` from the command line?
`--jvmopt` (https://docs.bazel.build/versions/master/command-line-reference.html#flag--jvmopt)
seems not to be working in the following run:
`bazel run --jvmopt="-Dfoo=bar" //:app `

[2019-09-26 18:04] JaredNeil commented on #225
That `--jvmopt` flag is for passing options to the bazel server on startup.

If you want to pass arguments to your process, you put them after a `--`.

The `scala_binary` rule uses [this wrapper script](https://raw.githubusercontent.com/bazelbuild/bazel/0.27.0/src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt) to launch `.jar`s. It takes a `--jvm_flag` option that

[2019-09-27 07:19] susliko commented on #225
It worked. Thank you!

[2019-09-27 07:19] #225 closed

[2019-10-10 17:26] bjchambers commented on #218
Any thoughts here? This seems like it could be pretty bad in larger projects? Since the `scala_proto_library` includes generated code for *all* of the proto dependencies, if you have a bunch of different proto files with inter-dependencies, you are generating code and compiling it every time those dependencies are used, rather than just sharing the scala library.

[2019-10-10 22:49] SrodriguezO commented on #218
@andyscott would you have bandwidth to take a look? @bjchambers's points sound valid to me, but I have very limited experience with protobuf

[2019-10-11 07:08] pauldraper commented on #147
That is usually up to the test framework.

For example, the existing `//test-framework/classpath:bad` shows a truncated stack trace.

[code]

In your example, I believe the test framework has not caught the error and reported it via the usually test mechanisms, but rather allowed it to propagate all the way to main().

And in the case of a runaway error, I would not want to prune the stack trace a

[2019-10-11 08:16] pauldraper commented on #193
A lot of noise here :)

The issue was that binary resources didn't work properly if there were no Scala sources. (Another victim of the do-six-different-things patterns established by the java_* rules.)

[2019-10-11 08:20] #93 closed

[2019-10-11 08:29] #127 closed

[2019-10-11 08:50] pauldraper commented on #98
Things to be done:

1. Compile with [SemanticDB](https://scalameta.org/docs/semanticdb/guide.html#scalac-compiler-plugin) compiler plugin. This could be done as part of the normal compile (with a custom scala_compile), or separately. In theory, SemanticDB can be used for several analysis tools, so perhaps part of the normal compile.

2. Run Scalafix. For starters, use the [command line](https://sc

[2019-10-12 04:02] pauldraper commented on #153
This appears to not longer be the case.

[2019-10-12 04:09] pauldraper opened #231 "Windows CI tests"
Without CI tests, Windows support is almost certainly broken.

[2019-10-12 16:55] #193 closed

[2019-10-12 16:59] andyscott commented on #218
The solution for this is to use an aspect that adds granular protoc compilation steps for each small grouping of proto files. It's not terribly hard to implement, so I can take a look this next week.

tweag/rules_haskell has done this for quite some time, and bazelbuild/rules_scala followed suit not too long ago.

[2019-10-12 19:02] bjchambers commented on #218
When `balezbuild/rules_scala` added that it also broke a lot of the abilities to use ScalaPB extensions (see https://github.com/bazelbuild/rules_scala/issues/753 and https://github.com/bazelbuild/rules_scala/issues/751). I'm also not sure that more granular protoc is necessary.

It seems like an easier fix would be to pass only the protos in `srcs` to the protoc invocation. Other files in the tran

[2019-10-13 20:39] #153 closed

[2019-10-14 17:07] susliko opened #233 "Bazel 1.0.0 support"
Recently Bazel 1.0.0 was released
https://blog.bazel.build/2019/10/10/bazel-1.0.html

An attempt to build existing code with newest Bazel version fails with an error:
[code]
while my BUILD file does not contain any non-proto deps:
[code]
And it used to build properly with Bazel 0.29.1

[2019-10-14 18:47] pauldraper commented on #200
Paths would be shorter without `src/main/scala` pasted everywhere :/

[2019-10-14 19:01] pauldraper commented on #208
This contradicts https://github.com/sbt/sbt/issues/2255 which claims that the entire plugin classpath is shared.

[2019-10-28 20:02] jakemcc commented on #222
This was completed with the merge of #226.

[2019-10-28 20:02] #222 closed

[2019-11-07 18:34] bjchambers commented on #218
Any progress / updates?

[2019-11-09 01:56] bjchambers commented on #218
Is there any reason why the fix proposed in #217 doesn't work?

[2019-11-09 02:35] SrodriguezO commented on #218
Hey @bjchambers sorry about the slow responses; it's a busy time of year. I still must defer to Andy on this one. @andyscott friendly ping : )

[2019-11-10 18:48] tjarvstrand opened #234 "Building with README example fails"
Hi!

I'm just getting started with bazel and wanted to try these rules out. I have a bare minimum project with just a single main-class in it. WORKSPACE is copied straight from the README.

This is my BUILD file:
[code]

`bazel build` fails with:
[code]

Any pointers would be appreciated! :)

[2019-11-11 19:35] SrodriguezO commented on #234
Hey @tjarvstrand, sorry about that. It seems the commit on the README is very much out of date. I will update it shortly. For now, you can use the latest commit and its sha:
[code]

Let us know if you run into any other issues : )

[2019-11-11 20:12] #234 closed

[2019-11-13 07:12] tjarvstrand opened #237 "How do I use a different scala version?"
We are currently at 2.12.10 at the company where I work. Unfortunately it is very unobvious for someone new how to go about using this version instead of the default one. I'm sorry to say this part seems much more straight forward in [bazelbuild/rules_scala](https://github.com/bazelbuild/rules_scala).

[2019-11-13 07:13] tjarvstrand commented on #234
Thanks! Works much better now!

[2019-11-13 18:29] SrodriguezO commented on #237
This page explains how to configure a custom version: https://github.com/higherkindness/rules_scala/blob/master/docs/newdocs/scala_versions.md#specifying-the-scala-version-to-use

If you're fine using 2.12.8, you can simply use the default we provide by adding the following to your WORKSPACE:
[code]

It's on the roadmap to provide more default versions, but we haven't gotten around to it (https://

[2019-11-13 18:31] SrodriguezO commented on #237
I'm going to go ahead and close this issue since there's already documentation and another open issue for simplifying things. Feel free to keep commenting if you need more help though :)

[2019-11-13 18:31] #237 closed

[2019-11-14 14:29] tjarvstrand commented on #237
Ehm, that was a bit quick. This is not a feature request but a question about how to solve a problem. I specifically asked Scala 2.12.10 in my question and just closing the issue with "here's how you use 2.12.8" is frankly pretty rude.

I have read the examples and I know how to point to Scala 2.12.8 but just changing the 8 to a 10 didn't work and I don't know where to go from there.

[2019-11-14 16:32] SrodriguezO commented on #237
Hey @tjarvstrand my apologies, I was not trying to be rude. The link I shared explains how to use a different version of Scala. I simply suggested 2.12.8 because then you wouldn't have to do any boilerplate and a couple minor versions is oftentimes not problematic.

If you'd like an example of a specific Scala version being used, [here](https://github.com/lucidsoftware/play_routes_compiler_cli) is

[2019-11-14 16:59] tjarvstrand commented on #237
Awesome thanks! I'll have a look at that!

It's just that if I'm going to sell the switch from sbt to the rest of my team it's going to be hard if we have to switch to an older Scala version

[2019-11-14 17:21] borkaehw commented on #233
Sorry for getting back to you late. We are aware of this and the pull request was merged recently. https://github.com/higherkindness/rules_scala/pull/236

It should now support Bazel 1.0.0 and 1.1.0. Let us know if you have more questions :smile:

[2019-11-14 20:54] SrodriguezO commented on #237
Yeah that makes sense. Hopefully the example helps. I also updated the [doc](https://github.com/higherkindness/rules_scala/blob/master/docs/newdocs/scala_versions.md#specifying-the-scala-version-to-use) I sent you to explain how to specify the scala configuration a little better.

[2019-11-15 12:59] susliko commented on #233
It worked indeed! Thank you for delivering newest Bazel versions support :)

[2019-11-15 12:59] #233 closed

[2019-11-27 23:39] joprice opened #246 "scala library doesn't show up in intellij"
I was not able to get intellij to recognize my scala library version until I added the scala library to the runtime_deps of the scala_library (adding it to deps caused buildozer to request removing it):

[code]

Not sure whether this is expected, or if an issue with how the rules are defined or something with my setup.

[2019-11-28 01:08] SrodriguezO commented on #246
Hey @joprice you shouldn't have to include the Scala standard library as a dependency. How are you binding `default_scala` in your `WORKSPACE`?

Also, what version of the IntelliJ plugin are you using?

[2019-11-28 03:39] joprice commented on #246
I am using Intelij 2019.2.4 and Bazel plugin 2019.11.14.0.1. I'm configuring it like this:

[code]

[2019-11-28 04:08] joprice commented on #237
Until I found the example above, I was unable to get scala 2.11 to work. I was seeing the following error:

[code]

The key was to configure the jdk here https://github.com/lucidsoftware/play_routes_compiler_cli/blob/3bfd27c266c4958fd62ecfef6434bac3cc0bf0ba/BUILD, https://github.com/lucidsoftware/play_routes_compiler_cli/blob/3bfd27c266c4958fd62ecfef6434bac3cc0bf0ba/WORKSPACE#L42, and https://gith

[2019-12-05 10:17] tjarvstrand opened #248 "NoClassDefFoundError"
Hi again,

I'm having some trouble running my code. The error `java.lang.NoClassDefFoundError: java/sql/Date`

The Java options I'm using are the following:
[code]
When I build, I get the following warning which I suspect may be related:
`[Warn] bootstrap class path not set in conjunction with -source 8`

If removing the `source` option I still get the same error at runtime however.

I'm currently

[2019-12-07 23:35] joprice opened #249 "Cannot configure scala_deps_used via --define"
I tried configuring scala_deps_used in my `.bazelrc` as  the docs suggest with the line:

`build --define=scala_deps_used=warn`

But I could not get it to respect the setting. I grepped the repo and found that `configure_zinc_scala` has a `deps_used` parameter, and using this worked as expected. Are the docs out of date, or is this define only used for the default scala version and ignored when de

[2019-12-09 19:00] SrodriguezO commented on #246
I've seen this issue when a custom `ScalaConfig` doesn't include the Scala compiler in its `compiler_classpath`, but the default one does so that's not it..

It might be that the IntelliJ plugin doesn't recognize it if it's coming from an external source. If that's the case, then specifying your own ScalaConfig in your workspace as explained [here](https://github.com/higherkindness/rules_scala/iss

[2019-12-09 19:44] SrodriguezO commented on #246
I poked around a bit more. This is an odd bug. If `@annex//:org_scala_lang_scala_library` or `@annex//:org_scala_lang_scala_compiler` are included as `deps` or `runtime_deps` on _any_ Scala target in your workspace, IntelliJ recognizes things correctly everywhere, even if that target's not used.

Specifying your own ScalaConfiguration would make the issue go away because it specifies a `scala_libr

[2019-12-09 21:59] borkaehw commented on #249
You might be right. I don't think we take `--define` into account when we do deps check. Do you think it's a nice to have feature in the `.bazelrc` file? Or configuring it in `configure_zinc_scala` is good enough?

[2019-12-09 22:03] borkaehw commented on #248
Could you provide a minimal reproducible case for this? It could also because something except Java options is going wrong in the code.

It's a warning so it may not be the root cause.

[2019-12-09 22:29] jjudd commented on #249
Maybe I'm wrong, but isn't `--define` how the deps check feature works? Like you do `--define=scala_deps_used=warn` or `--define=scala_deps_used=error`?

[2019-12-10 02:43] joprice opened #251 ""Failed to save cached analysis" error"
On some builds, I get a an error like `Failed to save cached analysis: java.nio.file.NoSuchFileException: service/.tmp`. The error does not give any specific reason for the failure, so I'm not sure where to begin debugging.

[2019-12-10 03:22] joprice opened #252 "NoSuchFileException when running scalafmt"
I cannot seem to get a scalafmt test to fail. I either get a no-op success even with poorly formatted sources, or I get a `java.nio.file.NoSuchFileException` for files generated by https://github.com/lucidsoftware/rules_play_routes. Using the glob `srcs = glob(["**/*.scala"], exclude = ["bazel-bin/**/*"]),` helps with the latter, but excluding all bazel directories should be recommended:  `srcs =

[2019-12-10 13:40] joprice commented on #249
I don’t know enough to know whether it’s broken or I’m using it wrong. For now having it in configure_zinc_scala works since I configure it statically, but it being able to be dynamic without having to define a custom config setting would be convenient for different strictness levels when refactoring or in CI envs.

[2019-12-10 16:08] SrodriguezO commented on #251
Hey @joprice the error's happening when the Zinc runner tries to save the Zinc state files when persistent builds are enabled. Is there a stack trace in the output you're seeing? Also, are you seeing this error consistently? (i.e. if you build and get the error, clean, and then build again, do you still get the error?)

[2019-12-10 17:06] borkaehw commented on #252
You may first refer to how we run `scala_format_test` in this [BUILD](https://github.com/higherkindness/rules_scala/blob/master/tests/format/scalafmt/BUILD), as well as the test [WORKSPACE](https://github.com/higherkindness/rules_scala/blob/master/tests/WORKSPACE) to see if you missed something.

Just a reminder, to test the format, we use `bazel test ...`, to fix the format, we use `bazel run ...

[2019-12-10 17:28] borkaehw commented on #249
@jjudd I can't see where we use `--define` anywhere. As far as I understand, `--define` is used to configure attributes in BUILD, see reference [here](https://docs.bazel.build/versions/master/be/common-definitions.html#configurable-attributes). The most straightforward way is to pass in `error`, `check`, or `off` via attributes in `configure_zinc_scala`.

@joprice I will try if I can come up with

[2019-12-10 20:28] joprice commented on #252
Thanks I'll try that later today

[2019-12-10 21:59] joprice commented on #249
@borkaehw I was mostly concerned about the docs mentioning this facility, but it not being possible. It took me a while to find that it was available on `configure_zinc_scala` and wanted to save other people time. I don't currently need the feature to configure it via a define, just anyway to set it.

[2019-12-11 05:43] borkaehw commented on #249
@joprice Sorry for the inconvenience. I talked to the other maintainers, it used to work. We will either remove it from doc or actually fix it. Please keep this issue open as a reminder. I will keep you posted.

[2019-12-12 03:10] joprice commented on #251
There was no stacktrace, and it only happens intermittently and doesn't seem to affect the build.

[2019-12-12 03:10] joprice commented on #251
I'll try to capture more info if it pops up again.

[2019-12-12 12:55] joprice opened #255 "deps_used error when used with rules_docker's scala_image"
I am getting a `remove deps` buildozer error when using these rules with rules_docker via `emulate_rules_scala`. Those rules don't have the concept of `deps_used_whitelist`. I tried using both `deps` and `runtime_deps`, but couldn't silence the error. This is unfortunate, since without a workaround, users in this situation will be encouraged to disable this useful feature.

[2019-12-12 20:12] borkaehw commented on #255
Could you provide more information how did you set up your build files? Do you mean it's trying to remove a dependency that is not in `deps`?

[2019-12-12 20:17] joprice commented on #255
Sorry, I wasn't very clear. It's trying to remove the single dependency that is a `scala_library` which provides the main class. In other calls to `scala_binary`, I have to set `deps_used_whitelist` to avoid this issue as well.

[2019-12-12 20:26] borkaehw commented on #255
It doesn't sound like the right way.

It would be easier for us to help if you can provide minimal reproducible case.

[2019-12-13 00:16] joprice commented on #255
Here is a repo that reproduces the issue https://github.com/joprice/bazel_experiments

[2019-12-13 21:31] joprice commented on #252
Ok I think I was misunderstanding how to use this rule. I was trying to define it once in the repo at the top-level, and then glob all sources, but most sources were actually part of a subpackage. Instead, I assume it is intended to be defined alongside each package that has scala source.

[2019-12-13 21:53] #252 closed

[2019-12-13 22:28] joprice commented on #249
I just hit this again and had to copy the default 2.12 toolchain into my project to override `deps_used`. At that point, it would be more convenient to just have a flag, since now I have to maintain a bit more just for that one flag, and it wasn't obvious that I was supposed to do that. On the other hand, maybe it could also be solved by allowing passing in extra config to `scala_register_toolchai

[2019-12-16 17:18] borkaehw commented on #255
I am not familiar with how `scala_image` works. If you are not explicitly using the targets in deps, the buildozer command will show up. It seems like we don't have tests for `rules_docker` compatibility. We are happy to take PR if you have idea how to fix it.

@SrodriguezO Do you have insight on it?

[2019-12-16 19:18] SrodriguezO commented on #255
`scala_image` expects `bazelbuild/rules_scala` rules, but it should still work with `higherkindness` when you emulate the `bazelbuild` ones (as @joprice did in his example).

There were two issues though:
1. I think you're using `scala_image` incorrectly--it shouldn't depend on a `scala_binary`; rather, it should specify which sources it's using directly (as shown in the [rules_docker docs)](https

[2019-12-16 19:53] joprice commented on #255
I see. I'm using legacy code that I want to build with minimal modifications, but I could move the main class out into it's own file. I was also trying to make use of a scala_binary rule that exited to avoid repeating the srcs. So the idea is that you have a separate file for your main, and the deps includes whatever other sources defined as scala_library that has the rest of the files?

[2019-12-16 19:56] SrodriguezO commented on #255
Does your current code already use `scala_binary` and `scala_image`?

Why can't you include all the sources directly in the `scala_image`?

[2019-12-16 20:09] joprice commented on #255
I assumed it was better for incremental compilation, but maybe zinc handles that. Also, it felt natural to have a binary, image, and tests depend on a library that is the one place specifying the glob of srcs.

[2019-12-16 22:45] SrodriguezO commented on #255
The less you rely on zinc the better. I do think breaking up your build with `scala_library` would be a good idea, but this is independent of getting `scala_image` to work. I've personally never used `scala_image`, but it seems it's meant to simply replace the `scala_binary` in your design

[2019-12-16 23:06] joprice commented on #255
I assume adding the file that defines the main class to the scala binary and the scala image will result in that single file being compiled twice, which isn't that big of a deal if it's just a dedicated main class whose implementation relies mostly on other files. I'll try that first as a temporary workaround and then experiment with a custom scala_image rules that uses these rules without emulati

[2019-12-18 20:50] #249 closed

[2019-12-19 17:29] SrodriguezO commented on #255
Do you mean you're using both a `scala_binary` _and_ a `scala_image`? You should only be using `scala_image`--it _replaces_ `scala_binary`

[2019-12-19 18:23] joprice commented on #255
I'm defining a library, a binary, and an image, where the image uses the binary and the binary uses the image (library <- binary <- image). The binary is used locally and for  testing, while the image is for distribution. Reusing the binary was convenient to avoid having to repeat arguments like data, jvm_flags, resources, etc, and to avoid getting them out of sync. If that's the wrong approach, I

[2019-12-19 19:36] SrodriguezO commented on #255
I see. I've never used `scala_image`, but based on their docs I don't believe it should be using a `scala_binary`.

An alternative might be to create a macro that generates both a `scala_image` and a `scala_binary` with the same attributes? Might be a bit cleaner than using variables, and you could reuse it for other targets :)

[2019-12-19 19:37] joprice commented on #255
Yea, that's probably what I'll end up with.

[2019-12-19 19:52] SrodriguezO commented on #255
It seems `scala_image` already generates a binary for you! I can't find quick confirmation on their docs (you may have to dig more), but for a `scala_image` target named `image`, I can build `:image.binary`:
[code]

[2019-12-19 19:58] SrodriguezO commented on #255
This is the target the buildozer command wanted to update on your example:
`buildozer 'remove deps //:service' //:image.binary`

Since it's generated by `scala_image`, however, `buildozer` couldn't find it.

[2019-12-19 19:59] SrodriguezO commented on #255
Does this resolve your original issue?

[2019-12-19 21:24] SrodriguezO commented on #255
@joprice do you mind if I close this issue? Or is there anything else we need to address here?

[2019-12-19 21:27] joprice commented on #255
I think I understand what's going on. I'll try it out and leave a comment if I'm still stuck. Thanks for all the help!

[2019-12-19 21:27] #255 closed

[2019-12-26 10:14] jatcwang opened #261 "Comparison/Document relationship with bazelbuild/rules_scala"
For someone new who's dabbling with bazel having two rules_scala is quite confusing, especially when it's not immediately clear why there's two.

I dug around a bit and it seems like it initially started as a playground for some new ideas and aims to eventually fold everything back to bazelbuild/rules_scala
https://gitter.im/bazelbuild_rules_scala/Lobby?at=5ad59ba8109bb04332cde9d3

Is this still t

[2019-12-30 02:38] joprice opened #262 "Error when using repl with a compiler plugin configured with global_scalacopts"
I get the following error when starting a repl with a compiler plugin configured:

[code]

I'm configuring the scalacopts in configure_zinc_scala as follows:

[code]

[2019-12-30 17:51] joprice commented on #249
@borkaehw I tried the changes and get a duplicate key error when trying to configure them via the zinc toolchain macro. Using define works now, but I expected to be able to set it to "warn" as well as off. Only "off" seems to work.

[2020-01-02 21:15] joprice commented on #246
I'm also having this issue when using multiple scala versions, and the workaround doesn't seem to help. I have some projects on 2.12 and others on 2.11. Both projects seem to think they have some scala version available, as I can jump to source, but there is always a banner up top saying "No Scala SDK in module". When clicking Setup Scala SDK, it offers an incorrect version from the local ivy cach

[2020-01-06 04:45] borkaehw commented on #261
Sorry for late response, I was on a long vacation. It's a long story why we have two `rules_scala`s and why it's still in this way. We currently have active maintainers here so don't worry. We are happy if you can try out higherkindness/rules_scala.

We are still working on figuring out what's the best for both side of communities. I will say the current status/relationship with bazelbuild/rules_s

[2020-01-06 07:51] borkaehw commented on #249
Help me understand it correctly. There are still two issues
1. Using `--define` in `.bazelrc` and Zinc toolchain macro causes duplicate key?
2. `--define` doesn't support `warn`, but Zinc toolchain does?

[2020-01-06 10:39] jatcwang commented on #261
What people like me would like to know is whether this is a temporary playground or an actual alternative implementation. Knowing that this is an actively maintained alternative is good enough for me, thanks :)

[2020-01-06 10:39] #261 closed

[2020-01-20 22:31] pauldraper commented on #251
The error comes from [here](https://github.com/higherkindness/rules_scala/blob/2b16342fd8d2dd96b11092caf75d0fd96b8ce253/src/main/scala/higherkindness/rules_scala/workers/zinc/compile/ZincRunner.scala#L292).

It most likely originates [here](https://github.com/higherkindness/rules_scala/blob/2b16342fd8d2dd96b11092caf75d0fd96b8ce253/src/main/scala/higherkindness/rules_scala/workers/zinc/compile/Zinc

[2020-01-21 15:52] joprice commented on #251
I haven't seen this since, so feel free to close if it's not helpful to track it down.

[2020-01-23 16:38] tjarvstrand commented on #248
Hey @borkaehw

Sorry for the delay. I've been very busy and it took me some time to isolate the problematic part into a minimal example but here it is: https://github.com/tjarvstrand/bazel-classdef

[2020-01-28 13:30] joprice opened #266 "scala_format_test vs scala_with_scalafmt.bzl"
I stumbled up the rules in scala_with_scalafmt.bzl which seem to offer a different approach to formatting vs scala_format_test, where the formatting is tied into the scala_binary or scala_test rule. From the outside, this doesn't seem much different than writing a custom macro that defines a `scala_format_test` for each of the rules you need and importing that instead of the default ones. With the

[2020-01-28 16:36] JaredNeil commented on #266
There are some slight differences. The biggest one is that you can `bazel test` the `scala_format_test`, but have to do the format checking in a more manual external-to-bazel way for the other one.
We initially added scala_with_scalafmt.bzl because we thought it might be better than a macro in some ways. And it was a interesting use of the phases architecture. After using both, I personally think

[2020-01-30 20:11] #266 closed

[2020-04-07 16:28] susliko opened #275 "Compiling Scala 2.13"
For now the rules use `Zinc 1.3.4` version, which requires `Scala 2.12` in the classpath. I am trying to build a `Scala 2.13` code with it in a following manner, as described in the [doc](https://github.com/higherkindness/rules_scala/blob/master/docs/newdocs/scala_versions.md#specifying-the-scala-version-to-use):
[code]

And I get an error about wrong Scala signature:
[code]
What am I doing wrong?

[2020-04-07 16:40] borkaehw commented on #275
Are you sure `compiler_classpath` 2.12.10 and `runtime_classpath` 2.13.0 are compatible?

[2020-04-07 17:04] susliko commented on #275
By the way, the feature-list in the README state the point `Multiple Scala versions in one build, including Scala 3 (Dotty).`. But I didn't manage to find an example of building Scala 3. Is there one? :)

[2020-04-18 23:18] nhyne opened #276 "Error on build: depset elements must not be mutable values"
I'm trying to setup a Bazel repo for some basic Scala work. I'm currently trying to use the example workspace setup defined in the readme with a small build file defining a single Scala source with a small main class. When I try to build the target, it results in the following error:

[code]

I'm wondering if I've set something up wrong or if I'm missing something entirely. Any and all assistance

[2020-04-20 17:23] nhyne commented on #276
It seems like this is specifically an issue with Bazel 3.0.0. Downgrading to 2.2.0 fixes this problem.

[2020-04-20 17:23] #276 closed

[2020-04-20 17:38] SrodriguezO commented on #276
Hey @nhyne, thanks for opening this issue.

higherkindness/rules_scala might not be Bazel 3.0 compatible yet. We've been very busy at Lucid lately and have not had time to visit that yet. I'm glad 2.2.0 is working for you. Let us know if you run into any other issues.

[2020-04-21 16:47] borkaehw commented on #275
Sorry for the late response. I have not seen this before and we (as maintainers) are not using 2.13 yet.  Is it a blocker for you?

[2020-04-22 04:22] joprice commented on #275
I tried doing the same, but using zinc 1.4.0-M2 with scala 2.13.1 (`org.scala-sbt:zinc_2.13:1.4.0-M2`, `org.scala-sbt:util-interface:1.3.3`, `org.scala-sbt:compiler-interface:1.4.0-M2`)

The bridge compiles and the worker starts, but then I hit the following error:

`java.lang.NoSuchMethodException: xsbt.CompilerInterface.newCompiler([Ljava.lang.String;, xsbti.compile.Output, xsbti.Logger, xsbti.R

[2020-04-22 22:15] susliko commented on #275
It seems that we have found a workaround. Replacing manually-compiled `compiler-bridge` with a jar from maven did the trick.
Those settings worked for us:
`WORKSPACE`:
[code]
`BUILD`:
[code]

[2020-04-24 00:45] joprice commented on #275
This works for me as well. Thank you!

[2020-04-24 14:36] #275 closed

[2020-04-29 21:34] tp-github-config opened #278 "Add some comments to tests/WORKSPACE"
Hi there,

I am looking at this project and it looks very interesting.  Thank you for the effort.  It also seems in many respects more complete than (Bazelbuild scala)[https://github.com/bazelbuild/rules_scala].

While trying to learn how to use the rules, I noticed the tests directory contains WORKSPACE and BUILD files, which also seem like very good places to get started given the lack of more c

[2020-04-29 22:28] borkaehw commented on #278
Sounds like an interesting idea. Do you only refer to the tests/WORKSPACE file? I believe most of the valuable logic is in `rules/`, or `*.bzl`, have you tried to take a look and also found them lacking comments?

It could be easy and also hard, it depends on how complex is the project. Is it good enough to be able to build a "hello world" project?

[2020-04-29 22:31] borkaehw commented on #276
@nhyne FYI, it's compatible with Bazel 3.0.0 and 3.1.0 now.

[2020-04-29 22:43] nhyne commented on #276
@borkaehw Thank you!

@SrodriguezO Everything else has been working great!

[2020-04-30 04:25] tp-github-config commented on #278
Hello,

Thank you for your reply.

I mostly meant just the WORKSPACE file, yes.

Parts of it I recognize based on the documentation I've read but not all steps are completely clear to me.  So having a minimal, commented best-practice (perhaps with scalacheck, strict deps etc)  template would be super useful.

Some things which I don't fully understand right now:

- the recommended practice of how

[2020-05-04 20:44] joprice opened #279 "scala_library from generated sources not showing up in intellij"
I am generating sources and then using them as the input to a scala_library rule. The build works, but intellij can only view the classes by decompiling the jars. I noticed the IntellijInfo provider and wondered if I have to do something special to get my scala_library to make a metadata available to intellij.

[2020-05-08 23:59] SrodriguezO commented on #278
Hey Tom,
Sorry for the delayed response. Things have been very busy lately. I think adding a sample project and/or thoroughly commenting the tests workspace would be wonderful. We don't currently have the bandwidth to undertake these tasks, unfortunately.

I'll do my best to answer your specific questions though:

- You can specify which scala compiler you wish you use for a target via the `scala`

[2020-05-09 00:10] SrodriguezO commented on #279
I don't understand, which metadata are you referring to?

Are you referring to the classes in the generated sources?

[2020-05-09 00:10] SrodriguezO commented on #279
Would you mind providing a small reproducible case?

[2020-05-09 00:36] joprice commented on #279
Yea I'll try to get one together this weekend.

[2020-05-11 03:10] tp-github-config commented on #278
Thank you for the the thorough response.

I have my own deadlines this week but let me see if I can put something together.

Again, I appreciate you (both) taking the time.

[2020-05-14 10:54] susliko opened #280 "ScalaCheckDeps error with --jobs build option"
I've noticed that providing the `--jobs X`, where `X` is less than 4 (btw I have 4 cores on my machine),
results in a build failure on the step of `rules_scala_annex` compilation with the following message:
[code]
Do you have any ideas on what might cause such behavior ? :)

[2020-05-14 17:14] SrodriguezO commented on #280
That failure happens when you have unused dependencies on you target definition. You can use the buildozer command it shows to apply the fix :)
[code]

As far as the `--jobs` count causing issues, I'm not able to reproduce that locally. Could you try applying the buildozer fix and seeing if you're still running into issues?

[2020-05-14 17:16] SrodriguezO commented on #280
Oh wait, it's complaining about deps on `rules_scala_annex` targets, hadn't notice that.. this is most likely a zinc issue. Can you try deleting your zinc cache and re-building?

[2020-05-15 17:28] susliko commented on #280
Thank you for the fast reply!
The thing is I'm not using
`worker_extra_flag=ScalaCompile=--persistence_dir=.bazel-zinc`.
So, Zinc stateful compilation seems not to be a problem

[2020-05-18 16:15] SrodriguezO commented on #280
Hmm, could you provide a small reproducible example? I haven't had luck reproducing the issue. Also, can you confirm that things work when you specify `--jobs` as >= 4?

[2020-05-21 12:03] susliko commented on #280
I am sure, that a totally clean build of my project with `--jobs 3` fails for some reason (while succeeds with `--job 2` and `--jobs 4` :-/), but I haven't managed to reduce it to a minimal reproducible example.
It seems that this behavior is observed only in a tricky set of circumstances, which vary for different build-trees and hardware.

Thank you for replies!

[2020-05-21 12:03] #280 closed

[2020-05-25 14:17] Shastick opened #282 "Cannot build a scala_test rule"
Hello,

Not sure I am missing something here, but I have exhausted my other venues so I'm turning to an issue.

I'm trying to migrate to the rules_scala offered by this repository.

I'm using Bazel 3.1.0, and importing rules_scala via a `git_repository` rule that points to the commit that introduced support for 3.0.0/3.1.0.

I have a `scala_library` that builds fine. But the `scala_test` that atte

[2020-05-25 19:28] Shastick commented on #282
Small update: so far I've only configured a `configure_bootstrap_scala` and I see the build fail due to `g.compile.zinc_info.apis`, which may be due to the fact that zinc is not setup.

Will try to set that up properly and see where that leads.

[2020-05-25 20:01] Shastick commented on #282
So, it seems that when using a properly configured zinc compiler things work. Apologies for the noise.

[2020-05-25 20:01] #282 closed

[2020-05-28 02:56] JaredNeil opened #283 "Zinc AnalysisCache outputs are not reproducible"
The `*.gz` files contain a timestamp in the gzip header (mtime).
This is a problem because the `apis.gz` and `relations.gz` outputs are used as [inputs](https://github.com/higherkindness/rules_scala/blob/master/rules/private/phases/phase_zinc_compile.bzl#L79) to downstream actions.
Are those files necessary as inputs? Removing them doesn't seem to break anything, but I'm not sure what Zinc uses th

[2020-05-28 17:50] JaredNeil commented on #283
After further investigation it may not be the timestamp like I thought. Instead I think it's that the `APIs` message has unordered elements, which are sometimes serialized in a different order.
https://github.com/sbt/zinc/blob/develop/internal/zinc-persist/src/main/protobuf/schema.proto#L399-L402

[2020-06-01 21:05] pauldraper commented on #283
There are used [here](https://github.com/higherkindness/rules_scala/blob/master/src/main/scala/higherkindness/rules_scala/workers/zinc/compile/ZincRunner.scala#L221-L230).

You could ask on the [Zinc Gitter](https://gitter.im/sbt/zinc-contrib)

It's been too long for me to remember but I think they make incremental compilation work more effectively if it is enabled.

(They are also use for sbt tes

[2020-06-01 21:15] pauldraper commented on #278
bazelbuild/rules_scala is plagued by a number of compatibility and functionality issues that are not fixable without a large rewrite.

The used to be a comparison to bazelbuild/rules_scala but it was removed in #232 to be nicer.

You can see the old version [here](https://github.com/higherkindness/rules_scala/blob/d601e60da20e475136d96257bb192a9c3130e42d/docs/newdocs/diff_rules_scala.md) (though s

[2020-06-09 16:01] joprice opened #285 "error running coverage command"
When I run `bazel coverage ...`, I get the error `depset elements must not be mutable values`. I'm on bazel 3.1.0 and commit 383db2539948e6e396274b21505cbd39c82b0c0f of rules_scala. I poked around the repo for a hint on whether coverage is supported and found a commented out test. Is there known issue with coverage, and is it expected to be supported at some point?

[2020-06-13 14:41] pauldraper commented on #261
The old comparison document: https://github.com/higherkindness/rules_scala/blob/d601e60da20e475136d96257bb192a9c3130e42d/docs/newdocs/diff_rules_scala.md

Was removed in #232.

[2020-06-28 22:28] tp-github-config commented on #278
A quick follow up:  Due some recent changes, this (nor Scala!) are on my radar anymore.  I wanted to circle back and not let the issue in an unresolved state.  I am happy to close it, unless you have a different preference?

Thank you again for your thoughts/feedback above.

[2020-07-17 17:32] SrodriguezO opened #288 "Travis merge check status not updating on PRs"
For example, on #287

[Issue and solution steps](https://travis-ci.community/t/known-issue-travis-ci-reports-expected-waiting-for-status-to-be-reported-on-the-github-status-api-but-the-status-never-arrives/1154) (must be taken by a repo admin)

[2020-08-20 16:13] subotic commented on #248
@tjarvstrand Any solution. I'm running into the same problem. I'm trying to move our codebase from the "other" `rules_scala`, where we didn't have this problem.

[2020-08-20 16:14] subotic commented on #248
Googling, I've found [this](https://image.slidesharecdn.com/migratingtojava9modules-171006052108/95/migrating-to-java-9-modules-29-638.jpg?cb=1507267987) but I'm not sure how to add this.

[2020-08-21 05:49] tjarvstrand commented on #248
@subotic Eventually I gave up. I came back to the problem a few months later and didn't run into the same issue then. My suspicion is that I didn't have `JAVA_HOME` properly set in my environment the first time around but I can't say for sure.

[2021-01-22 17:12] virusdave opened #291 "Is this project dead?"
Apologies for using an Issue for this question.  It seems like activity has stopped, whereas the more official `rules_scala` is still undergoing active development.  However, this package has some niceties that that one does not, such as support for multiple scala versions.  I'd really like that, but if this ruleset is effectively dead or stopped, then I'd rather not start down the road that leads

[2021-01-22 18:46] SrodriguezO commented on #291
Hey @virusdave,

We're still using `higherkindness/rules_scala`, but we're planning on migrating back to `bazelbuild/rules_scala` once we find the bandwidth to do so. Now that `bazelbuild/rules_scala` supports phases, we can meet our use case there too.

In the meantime, we'll continue doing maintenance work on higherkindness (fixing bugs, updating Bazel periodically, etc.), but we won't be doing

[2021-01-22 19:47] virusdave commented on #291
Multiple versions is the big one, as it makes upgrading a massive codebase incrementally realistic.

The zinc support is kind of nice I suppose, but i don't actually care _all_ that much about it.

OK thanks - i'll bring it up there i guess, and start a migration  before i get myself too deep!  :)

[2021-01-22 22:09] pauldraper commented on #291
The intention always was to *ideally* merge back with rules_scala.

rules_scala was difficult to work with (technically and otherwise) and innovate, so this was a proving grounds for a better rules_scala.

Frankly, I think rules_scala is still really clumsy and handcuffed to backwards compatibility concerns, and this higherkindness still beats it in many ways.

Unfortunately, the doc comparing the

[2021-01-29 16:48] #218 closed